<div class="wrapper">
  <div class="heading">
    <h1>{{ 'Literature' | translate }}</h1>
  </div>

  <div class="cnt">
    <div class="benefits">
      <div class="benefits-container">
        <div class="fixed">
          <div class="m-heading" (click)="showMobMenu = !showMobMenu">
            <p>Category</p>
            <i class="pi pi-chevron-down" *ngIf="!showMobMenu"></i>
            <i class="pi pi-chevron-up" *ngIf="showMobMenu"></i>
          </div>
          <div class="menu" *ngIf="!isMobile ||showMobMenu">
            <div class="m-items">
              <div
                class="item"
                *ngFor="let item of types"
                (click)="select(item)"
              >
                <div
                  class="name"
                  [ngClass]="{ selected: item.selected }"
                  (click)="toggleChildren(item)"
                >
                  <p>{{ item.name | translate}}</p>
                  <div class="icon" *ngIf="item.children">
                    <i class="pi pi-angle-up" *ngIf="item.isOpen"></i>
                    <i class="pi pi-angle-down" *ngIf="!item.isOpen"></i>
                  </div>
                </div>
                <div class="children" *ngIf="item.children && item.isOpen">
                  <div
                    class="child"
                    *ngFor="let child of item.children"
                    [ngClass]="{ selected: child.selected }"
                    (click)="selectChild($event, item, child)"
                  >
                    <div class="name">
                      <p>{{ child.name | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll">
          <div class="items right-border-bottom">
            <a
              class="item"
              *ngFor="let item of files"
              [href]="item.pdf"
              target="_blank"
            >
              <div class="image">
                <img [src]="item.image" alt="" />
              </div>
              <p>
                {{ item.description }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
