.wrapper{
  .heading {
    width: 100%;
    height: 266px;
    flex-shrink: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 68, 148, 0.6) 0%,
        rgba(14, 48, 81, 0.6) 100%
    ),
    url("https://icmablob.blob.core.windows.net/files/ad392468-2d97-40ce-be84-98401531ca322872a84531729b0de29f380ef0a4036c207c646a%20%281%29.webp")
    lightgray 0px -192.966px / 100% 277.549% no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 769px) {
      height: 186px;
      background: linear-gradient(0deg, rgba(0, 68, 148, 0.60) 0%, rgba(14, 48, 81, 0.60) 100%), url("https://icmablob.blob.core.windows.net/files/ad392468-2d97-40ce-be84-98401531ca322872a84531729b0de29f380ef0a4036c207c646a%20%281%29.webp") lightgray 50% / cover no-repeat;
    }
    h1 {
      color: #fff;
      font-family: "DM Sans";
      font-size: 54px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      @media (max-width: 769px) {
        font-size: 35px;
      }
    }
  }
  .cnt{
    display: flex;
    //align-items: center;
    justify-content: center;
    padding: 60px 30px 0;
    @media (max-width: 1024px) {
      padding: 54px 40px 0px;
    }
    @media (max-width: 769px) {
      padding: 29px 20px 0px;
    }
  }
  .items {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 64px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr ;
    place-content: center;
    padding-bottom: 100px;
    max-width: 1200px;

    @media (max-width: 769px) {
      grid-template-columns: 1fr;
    }

    .item{
      display: flex;
      width: 100%;
      flex-direction: column;
      //align-items: center;
      gap: 16px;
      border-radius: 6px;
      cursor: pointer;
      .image{
        width: 100%;
        position: relative;
        height: 280px;
        @media (max-width: 769px) {
          height: 230px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .deadline{
          display: flex;
          width: 233px;
          height: 34px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          position: absolute;
          background: #004494;
          bottom: 0;
          p{
            color: #FFF;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
      h4{
        color: #333;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p{
        color: #666;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      ::ng-deep p{
        color: #666;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        word-break: break-word;
      }
      .link{
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        p{
          color: #333;
          font-family: "DM Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }



  }
}
