.footer-wrapper {
  display: flex;
  width: 100%;
  padding: 49px 80px;
  //flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background: #f2f0f0;
  min-height: 250px;
  img {
    height: 21px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    p {
      color: #666;
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 350px;
    }
  }
  nav {
    ul {
      display: flex;
      width: 285px;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      gap: 40px;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      margin: 0;
      height: 145px;
      li {
        a {
          color: #333;
          font-family: "DM Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
